.button {
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: var(--common-border-radius);
	transition: var(--common-transition);
}

.button_type_primary {
	color: var(--text-primary-color);
	background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
}

.button_type_primary:hover {
	box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25), 0px 0px 8px 8px rgba(51, 51, 255, 0.25);
	filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.button_type_primary:active {
	opacity: 0.9;
	/*background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);*/
}

.button_type_secondary {
	color: var(--colors-interface-accent);
	background: transparent;
}

.button_type_secondary:hover {
	color: var(--text-primary-color);
	opacity: 0.9;
}

.button_type_secondary:active {
	color: var(--text-primary-color);
}

.button_size_large {
	font-family: 'Jet Brains Mono';
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	padding: 20px 40px;
}
.button_size_medium {
	font-family: 'Jet Brains Mono';
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	padding: 16px 40px;
}
.button_size_small {
	font-family: 'JetBrains Mono';
	font-size: 14px;
	line-height: 1.43;
	font-weight: normal;
	padding: 10px 32px;
}
.button_type_primary[disabled] {
	color: var(--text-inactive-color);
	background: var(--colors-button-inactive);
	pointer-events: none;
}
.button_type_secondary[disabled] {
	color: var(--text-inactive-color);
	pointer-events: none;
}
