:root {
	--background: #1c1c21;
	--background-alt: #131316;
	--background-element: #2f2f37;
	--offset-base-variable: 2px;
	--offset-base-size: 4px;
	--top-constructor-item-border-radius: 88px 88px 40px 40px;
	--bottom-constructor-item-border-radius: 40px 40px 88px 88px;

	--common-border-radius: 64px;
	--common-border-radius-s: 40px;
	--text-primary-color: white;
	--text-inactive-color: #8585AD;
	--colors-interface-accent: #4c4cff;
	--colors-interface-error: #E52B1A;
	--colors-interface-success: #00cccc;
	--colors-button-inactive: #3A3A55;
	scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;

	--common-transition: all .3s ease-in;
}

@-moz-document url-prefix() {
	:root {
		scrollbar-color: #8585AD #2F2F37;
	}
}

.custom-scroll::-webkit-scrollbar {
	width: 12px;
}
.custom-scroll::-webkit-scrollbar-track {
	background: #2F2F37;
}
.custom-scroll::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.body::-webkit-scrollbar {
	width: 12px;
}
.body::-webkit-scrollbar-track {
	background: #2F2F37;
}
.body::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

body {
	padding: 0;
	margin: 0;
	color: var(--text-primary-color);
	background: var(--background-alt);
}

/* Typography classes */

.text {
	margin: 0;
	padding: 0;
}

.text_type_main-default {
	font-family: 'Jet Brains Mono';
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
}

.text_type_main-large {
	font-family: 'Jet Brains Mono';
	font-size: 36px;
	font-weight: bold;
	line-height: 1.1;
}

.text_type_main-medium {
	font-family: 'Jet Brains Mono';
	font-weight: bold;
	font-size: 24px;
	line-height: 1.25;
}

.text_type_main-small {
	font-family: 'Jet Brains Mono';
	font-size: 14px;
	line-height: 1.43;
	font-weight: normal;
}

.text_color_inactive {
	color: var(--text-inactive-color);
}

.text_type_digits-default {
	font-family: 'Iceland';
	font-weight: normal;
	font-size: 28px;
	line-height: .86;
}

.text_type_digits-medium {
	font-family: 'Iceland';
	font-weight: normal;
	font-size: 48px;
	line-height: .75;
}

.text_type_digits-large {
	font-family: 'Iceland';
	font-weight: normal;
	font-size: 144px;
	line-height: .83;
}

.text_color_primary {
	color: var(--text-primary-color)
}

.text_color_inactive {
	color: var(--text-inactive-color)
}

.text_color_accent {
	color: var(--colors-interface-accent)
}

.text_color_error {
	color: var(--colors-interface-error)
}

.text_color_success {
	color: var(--colors-interface-success)
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
