.constructor-element {
    padding: 16px 24px;
    display: inline-block;
    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    box-sizing: border-box;
}

.constructor-element_pos_top {
    border-radius: var(--top-constructor-item-border-radius);
}

.constructor-element_pos_bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.constructor-element__row {
    display: flex;
    align-items: center;
}

.constructor-element__image {
    width: 80px;
    height: 40px;
    margin-right: 20px;
}

.constructor-element__text {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    line-height: 24px;
    text-align: left;
    flex-grow: 1;
}

.constructor-element__price {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
}

.constructor-element__price svg {
    margin-left: 9px;
}

.constructor-element__action {
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
