.counter {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background: #4C4CFF;
  border-radius: 16px;
  font-family: 'Iceland';
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #F2F2F3;
}

.default {
  font-size: 28px;
  min-width: 16px;
  height: 32px;
  padding: 0 8px;
}

.small {
  font-size: 22px;
  min-width: 16px;
  height: 24px;
  padding: 0 4px;
}

.counter__num {
  margin: auto;
}
