.counter {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background: #4C4CFF;
  border-radius: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #F2F2F3;
}

.default {
  font-size: 28px;
  width: 32px;
  height: 32px;
}

.small {
  font-size: 22px;
  width: 24px;
  height: 24px;
}

.counter__num {
  margin: auto;
}
